header {

    canvas {
        position: absolute;
        top: 0;
        left: 0;
        background-color: $primary-color;
        z-index: -1;
    }
    
    h1 {
        text-align: left;
        font-family: neon;
        font-weight: 100;
        padding-top: 20vh;
        color: $tertiary-color;
        text-shadow: 
        0 0 10px $tertiary-color,
        0 0 10px $tertiary-color;


        //for flickering effect
        &.lights-on {
            text-shadow: 
            0 0 10px $tertiary-color,
            0 0 30px $tertiary-color,
            0 0 50px $tertiary-color,
            0 0 70px $tertiary-color,
            0 0 90px $tertiary-color
        }
    }

    >a {
        position: absolute;
        bottom: 0;
        left: 0px;
        width: 100%;
        text-align: center;
        text-decoration: none;
        color:$secondary-color;
        padding: 20px;
        transition: 0.5s ease;
        

        >i {
            margin-left: 20px;
            animation-name: bounce;
            animation-timing-function: linear;
            animation-duration: 5s;
            animation-iteration-count: infinite;
        }

        &:hover {
            color: $primary-color;
            background-color: $secondary-color;
            font-weight: 700;
        }
    }
}

